.fundo {
display: flex;
flex-wrap: wrap;
padding-right: 0px;
margin-right: 8px;
margin-left: 58px;
margin-bottom: 28px;
background-image: url(./img/fundo.jpg);
background-attachment: fixed;
background-size: 125%;
background-repeat: no-repeat;
}