.fundo {
display: flex;
flex-wrap: wrap;
padding-right: 0px;
margin-right: 8px;
margin-left: 58px;
margin-bottom: 28px;
background-image: url(../img/fundo.jpg);
background-attachment: fixed;
background-size: 125%;
background-repeat: no-repeat;
}

.menu{
list-style:none; 
float:left; 
/*margin-left: 245px;*/
}

.menu li{
position:relative; 
float:left; 
}

.menu li a{color:black; text-decoration:none; padding: 0px 30px; display:block;}


nav ul ul {
display: none;
}

nav ul li:hover > ul {
display: block;
}

nav {
margin: 0 auto;
text-align: center;
}


p {
font-size: 18px;
text-align: justify;
position: center;
margin-right: 50px;
margin-bottom: 0px;
}