body {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
<<<<<<< HEAD
    background-color:  #fdecb8;
=======
    background-color:  #e0c9a6;
>>>>>>> d83fab0c13191b7ec0401a17e6c37522f5bff088
}
body, h1, h2, p, ul, li, a {
	margin: 0px;
	padding: 0px;
}
h1, h2, h3 {
	line-height: 1.4;
	margin-bottom: 1em;
<<<<<<< HEAD
	color: #462d14;  
=======
>>>>>>> d83fab0c13191b7ec0401a17e6c37522f5bff088
}
p{
    font-size: 1.1em;
	line-height: 1.4;
	margin-bottom: 1em;
<<<<<<< HEAD
	color: #462d14;  
=======
	color: black;  
>>>>>>> d83fab0c13191b7ec0401a17e6c37522f5bff088
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	display: block;
	max-width: 100%;
}
.capa {
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 10px;
}
.introducao {
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 10px;
}
.ficha {
    max-width: 960px;
	margin: 0 auto;
	padding: 60px 10px;   
}
.raca, .classes .vantagem {
    margin-bottom: 2px solid black;
}
<<<<<<< HEAD
.menu-bg {
    background: #3d2b1f;
}
.menu {
=======
.menu-bg{
    background: #736154;
}
.menu{
>>>>>>> d83fab0c13191b7ec0401a17e6c37522f5bff088
    max-width: 960px;  
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
<<<<<<< HEAD
    justify-content: space-evenly;
    align-items: center;
}
.menu a {
    color:#e0c9a6;
}
.menu-logo a {
=======
    justify-content: space-between;
    align-items: center;
}
.menu a{
    color:#e0c9a6;
}
.menu-logo a{
>>>>>>> d83fab0c13191b7ec0401a17e6c37522f5bff088
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}
<<<<<<< HEAD
.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}
.menu-nav a {
=======
.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}
.menu-nav a{
>>>>>>> d83fab0c13191b7ec0401a17e6c37522f5bff088
    font-size: 1.25em;
    display: block;
    padding: 10px;
}
.menu-nav a:hover {
<<<<<<< HEAD
    color: #c2d4e0;
}
.card-base {
    border-radius: 10px;
    border: 2px solid #3d2b1f;
    width: 250px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
    flex: 1 1 175px;
    margin: 10px;
    flex-direction:column;
    display: flex;
}
.racas{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
}
.race {
    height: 215px;
}
.classes {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
}
.class {
    height: 215px;
}
.citacao {
    font-size: 1em;
	line-height: 1;
	margin-bottom: 1em;
	color: #462d14;  
}
.rodape {
=======
    color: black;
}
.rodape  {
>>>>>>> d83fab0c13191b7ec0401a17e6c37522f5bff088
    position: fixed;
    bottom:0;
    right: 0;
    margin-left: 573px;
}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}